<!doctype html>
<html>
<title>Home</title>
<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script type="text/javascript" src="jquery.min.js"></script>
		<link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">
		<link href="assets/stylesheets/AutoHome.css" rel="stylesheet" type="text/css"/>
		
	<body data-spy="scroll" data-target=".navbar-collapse">
		<nav id = "nav" class="navbar navbar-default">
			<div id="logo">
				<%= image_tag("ams.png", size: "100x100", alt: "") %>
			</div>
			<ul class="nav nav-tabs" id="Menu">
				
	  			<li id ="homebut" role="presentation" class="right-button" type="Button">Home</li>
	  			<li id ="ContactBut" role="presentation" class="right-button" type="Button">Contacts</li>
			</ul>
		</nav>
		<div id="ClienteAgregado">
		<h2 align="center">Agregando Cliente</h2>
		</br>
			Nombre: <input id= "nameCliente" type="text"></input>
		</br>
			Apellido: <input id= "apellidoCliente" type= "text"></input>
		</br>
			Email:	<input id= "emailCliente" type= "text"></input>
		</br>
			Direccion:	<input id= "dirCliente" type= "text"></input>
		</br>
			<button align="center" id="createCliente" type="button" class="btn btn-lg btn"  >
					<span>Crear Cliente</span>
			</button>
		</div>
	</div>
	<div id="ContPrin">
		<h1 align="Center" style="color: #fff;">Contact</h1>
		<p align="Center" style="color: #fff;">Hola aqui Se pondra nuestros Numeros Para todas las chicas guapas y sexis que nos quierean para haci poder tener mil novias</p>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/
	jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files
	as needed -->
	<script src="assets/javascripts/bootstrap.min.js"></script>
	<script>
	$("#ClienteAgregado").show();
	$("#ContPrin").hide();
	$("#homebut").click(function(){
			var url = "/homepage"
  			window.location.href=url
			
		});
	$("#ContactBut").click(function(){			
			$("#homePrin").hide();
			$("#ContPrin").show();
		});
	$("#createCliente").click(function(){
  		$.ajax({
	     		url: "/nuevoCliente",
	      		type: "POST",
	      		data: {nombreCliente: $("#nameCliente").val(), emailCliente: $("#emailCliente").val(), dirCliente: $("#dirCliente").val(), apellidoCliente: $("#apellidoCliente").val()},
	      		success: function(data){                
  				if (data != "Error"){
  					alert(data);
  					var url = "/homepage"
  					window.location.href=url
				}
				else{
					alert("ASD")				
				}
			}
  		});
	});</script>


	</body>


</html>
