<!doctype html>
<html>
<title>Home</title>
<head>
		
		<meta charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script type="text/javascript" src="jquery.min.js"></script>
		<link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">
		<link href="assets/stylesheets/AutoHome.css" rel="stylesheet" type="text/css"/>
		
	<body data-spy="scroll" data-target=".navbar-collapse">
		<nav id = "nav" class="navbar navbar-default">
			<div id="logo">
				<%= image_tag("ams.png", size: "100x100", alt: "") %>
			</div>
			<ul class="nav nav-tabs" id="Menu">
				
	  			<li id ="homebut" role="presentation" class="right-button" type="Button">Home</li>
	  			<li id ="ContactBut" role="presentation" class="right-button" type="Button">Contacts</li>
			</ul>
		</nav>
		<div id="AsignarAse">
		<h2 align="center">Citas Disponibles</h2>
			Placa del Auto: <%= select("citas", "disp", @Citas.collect {|p| [ p.Placa,p.id ]},{},{"multiple" => true})%>
		</br>
			Mecanicos: <%= select("mecanico", "all", @Mecanicos.collect {|p| [ p.NombreMecanico,p.id ]},{},{"multiple" => true})%>
		
			<script type="text/javascript">
				var Cita = ""
				var Mecan = ""
				$( "#citas_disp" )
					.change(function () {
						Cita = "";
					$( "#citas_disp option:selected" ).each(function() {
						Cita += $( this ).val() + "|";
					});
				});

					$( "#mecanico_all" )
					.change(function () {
						Mecan = "";
					$( "#mecanico_all option:selected" ).each(function() {
						Mecan += $( this ).val() + "|";
					});
				});
			</script>
		</br>
			<button align="center" id="Asignar" type="button" class="btn btn-lg btn"  >
					<span>Tomar Cita</span>
			</button>
		</div>
	</div>

	<div id="ContPrin">
		<h1 align="Center" style="color: #fff;">Contact</h1>
		<p align="Center" style="color: #fff;">Hola aqui Se pondra nuestros Numeros Para todas las chicas guapas y sexis que nos quierean para haci poder tener mil novias</p>
	</div>
	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/
	jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files
	as needed -->
	<script src="assets/javascripts/bootstrap.min.js">
	
	</script>
	<script>
	$("#AsignarAse").show();
	$("#ContPrin").hide();
	$("#homebut").click(function(){
			var url = "/homepage"
  			window.location.href=url
			
		});
	$("#ContactBut").click(function(){			
			$("#homePrin").hide();
			$("#ContPrin").show();
		});
	$("#Asignar").click(function(){
  		$.ajax({
	     		url: "/setCita",
	      		type: "POST",
	      		data: {idAsesor: "<%= @Asesor.id %>", idCitas: Cita, idMecanicos: Mecan},
	      		success: function(data){                
  				if (data != "Error"){
  					alert(data);
  					var url = "/homepage"
  					window.location.href=url
				}
				else{
					alert("ASD")				
				}
			}
  		});
	});</script>


	</body>


</html>