<!doctype html>
<html>
	<head>
		<%= javascript_include_tag :defaults %>
				<link href="assets/stylesheets/AutoHome.css" rel="stylesheet" type="text/css"/>
		<title>Home</title>
		<meta charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
   		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Isabella's Shop</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" id="homebut">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cliente
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/agregarCliente" id="">Registrarse</a></li>
            <li><a href="#" id="listaddAuto">Agregar Vehiculo</a></li>
            <li><a href="#" id="listmodAuto">Modificar Vehiculo</a></li>
            <li><a href="#" id="listseguimientoCita">Seguimiento Cita</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Programar Cita
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" id="listCitaRegis">Cliente Registrado</a></li>
            <li><a href="/newCitaCliente" id="nuevaCitaCliente">Nuevo Cliente</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrar Asesor
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/agregarAsesor" id="">Agregar Asesor</a></li>
            <li><a href="#" id="listmodAsesor">Modificar Asesor</a></li>
            <li><a href="#" id="listasigCita">Asignar Cita</a></li>
            <li><a href="#" id="listcambiarEstado">Cambiar Estado Cita</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrar Mecanico
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/agregarMecanico" id="">Agregar Mecanico</a></li>
            <li><a href="#" id="listmodMecanico">Modificar Mecanico</a></li>
          </ul>
        </li>
        <li><a href="#" id="ConctacBut">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>
	<div id="RegistrarCitaRegis" class="form-group" style="width:800px; margin:0 auto;">
  		<label for="usr">Inicio Sesion:</label>
  		<input type="text" class="form-control" id="usrCita" placeholder="EMAIL">
  		<input type="password" class="form-control" id="pswCita" placeholder="PASSWORD">
  		<button id="btnCitaRegis" type="button" class="btn btn-info">Ingresar</button>
	</div>

	<div id="cambiarEstado" class="form-group" style="width:800px; margin:0 auto;">
  		<label for="usr">Inicio Sesion:</label>
  		<input type="text" class="form-control" id="idAsesorEstado" placeholder="Id Asesor">
  		<input type="text" class="form-control" id="idCitaEstado" placeholder="Id Cita">
  		<button id="btncambiarEstado" type="button" class="btn btn-info">Ingresar</button>
	</div>

	<div id="seguimientoCita" class="form-group" style="width:800px; margin:0 auto;">
  		<label for="usr">Inicio Sesion:</label>
  		<input type="text" class="form-control" id="usrSeguimiento" placeholder="EMAIL">
  		<input type="password" class="form-control" id="pswSeguimiento" placeholder="PASSWORD">
  		<button id="btnseguimientoCita" type="button" class="btn btn-info">Ingresar</button>
	</div>


	<div id="modMecanico" class="form-group" style="width:800px; margin:0 auto;">
  		<label for="usr">Inicio Sesion:</label>
  		<input type="text" class="form-control" id="idMecanicoModificar" placeholder="id Mecanico">
  		<button id="btnmodMecanico" type="button" class="btn btn-info">Ingresar</button>
	</div>


	<div id="modAsesor" class="form-group" style="width:800px; margin:0 auto;">
  		<label for="usr">Inicio Sesion:</label>
  		<input type="text" class="form-control" id="idAsesorModificar" placeholder="Id Asesor">
  		<button id="btnmodAsesor" type="button" class="btn btn-info">Ingresar</button>
	</div>

	
	<div id="modAuto" class="form-group" style="width:800px; margin:0 auto;">
  		<label for="usr">Inicio Sesion:</label>
  		<input type="text" class="form-control" id="usrmodAuto" placeholder="EMAIL">
  		<input type="password" class="form-control" id="pswmodAuto" placeholder="PASSWORD">
  		<input type="text" class="form-control" id="placamodAuto" placeholder="PLACA DEL VEHICULO">
  		<button id="btnmodAuto" type="button" class="btn btn-info">Ingresar</button>
	</div>

	<div id="addAuto" class="form-group" style="width:800px; margin:0 auto;">
  		<label for="usr">Inicio Sesion:</label>
  		<input type="text" class="form-control" id="usraddAuto" placeholder="EMAIL">
  		<input type="password" class="form-control" id="pswaddAuto" placeholder="PASSWORD">
  		<button id="btnaddAuto" type="button" class="btn btn-info">Ingresar</button>
	</div>

	<div id="asigCita" class="form-group" style="width:800px; margin:0 auto;">
  		<label for="usr">Inicio Sesion:</label>
  		<input type="text" class="form-control" id="idAsesorAsig" placeholder="EMAIL">
  		<button id="btnasigCita" type="button" class="btn btn-info">Ingresar</button>
	</div>

	<div id="homePrin">
		<h1 align="Center" style="color: #fff;">Bienvenido</h1>
		<p align="Center" style="color: #fff;">Proyecto de Teoría de Base de Datos II</p>
		
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<%= image_tag("paginaPrincipalMecanico.jpg", :alt => "rss feed") %>
					<div class="caption">
						<h3>Empleados</h3>
						<p>Agregue, Modifique, o elimine los empleados.</p>
						<p class="buttonFontColor"><a id="buttonGestionarMecanicos" class="btn btn-primary" role="button">Mecánicos</a><a id="buttonGestionarAsesores" class="btn btn-success" role="button">Asesores</a><a id="buttonRegistrarCarro" class="btn btn-warning" role="button">Vehículos</a></p>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<%= image_tag("registroVehiculoImagen.jpg", :alt => "rss feed") %>
					<div class="caption">
						<h3>Registro</h3>
						<p>¡Registre su automóvil o haga su propia cita ya!</p>
						<p class="buttonFontColor"><a id="buttonGestionarVehiculo" class="btn btn-primary btn-lg" role="button">Vehículos</a> <a id="buttonRegistrarCita" class="btn btn-success btn-lg" role="button">Citas</a></p>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<%= image_tag("seguimientoImagen.jpg", :alt => "rss feed") %>
					<div class="caption">
						<h3>seguimientoCita</h3>
						<p>¡Proporcione seguimiento a su carro!</p>
						<p class="buttonFontColor"><a id="buttonSeguimientoCarro" class="btn btn-primary btn-lg" role="button">¡Dar seguimientoCita!</a></p>
					</div>
				</div>
			</div>

		</div>
	
	 </div>

	<div id="ContPrin">
		<h1 align="Center" style="color: #fff;">Contacto</h1>
		<p align="Center" style="color: #fff;">Email: kevin_bara@unitec.edu</p>
		<p align="Center" style="color: #fff;">Email: horacio.galdamez@unitec.edu</p>
		<p align="Center" style="color: #fff;">Email: emerson007@unitec.edu</p>
	</div>
		</nav>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/
	jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files
	as needed -->
	<script src="assets/javascripts/bootstrap.min.js"></script>
	<script>
	$("#RegistrarCitaRegis").hide();
	$("#cambiarEstado").hide();
	$("#seguimientoCita").hide();
	$("#modMecanico").hide();
	$("#modAuto").hide();
	$("#addAuto").hide();
	$("#modAsesor").hide();
	$("#ContPrin").hide();
	$("#asigCita").hide();
	$("#homePrin").show();



		$("#listasigCita").click(function(){
			$("#RegistrarCitaRegis").hide();
			$("#cambiarEstado").hide();
			$("#seguimientoCita").hide();
			$("#modMecanico").hide();
			$("#homePrin").hide();
			$("#modAuto").hide();
			$("#modAsesor").hide();
			$("#ContPrin").hide();
			$("#addAuto").hide();
			$("#asigCita").show();		
		});

		$("#listaddAuto").click(function(){
			$("#RegistrarCitaRegis").hide();
			$("#cambiarEstado").hide();
			$("#seguimientoCita").hide();
			$("#modMecanico").hide();
			$("#homePrin").hide();
			$("#modAuto").hide();
			$("#modAsesor").hide();
			$("#ContPrin").hide();
			$("#addAuto").show();
			$("#asigCita").hide();		
		});

		$("#buttonRegistrarCita").click(function(){
			$("#RegistrarCitaRegis").show();
			$("#cambiarEstado").hide();
			$("#seguimientoCita").hide();
			$("#modMecanico").hide();
			$("#homePrin").hide();
			$("#modAuto").hide();
			$("#modAsesor").hide();
			$("#asigCita").hide();
			$("#ContPrin").hide();	
			$("#addAuto").hide();		
		});

		$("#listCitaRegis").click(function(){
			$("#RegistrarCitaRegis").show();
			$("#cambiarEstado").hide();
			$("#seguimientoCita").hide();
			$("#modMecanico").hide();
			$("#homePrin").hide();
			$("#asigCita").hide();
			$("#modAuto").hide();
			$("#modAsesor").hide();
			$("#ContPrin").hide();	
			$("#addAuto").hide();		
		});

		$("#buttonRegistrarCarro").click(function(){
			$("#cambiarEstado").show();
			$("#RegistrarCitaRegis").hide();
			$("#seguimientoCita").hide();
			$("#modMecanico").hide();
			$("#homePrin").hide();
			$("#modAuto").hide();
			$("#modAsesor").hide();
			$("#asigCita").hide();
			$("#ContPrin").hide();
			$("#addAuto").hide();
		});

		$("#listcambiarEstado").click(function(){
			$("#cambiarEstado").show();
			$("#RegistrarCitaRegis").hide();
			$("#seguimientoCita").hide();
			$("#modMecanico").hide();
			$("#homePrin").hide();
			$("#modAuto").hide();
			$("#asigCita").hide();
			$("#modAsesor").hide();
			$("#ContPrin").hide();
			$("#addAuto").hide();
		});

		$("#buttonSeguimientoCarro").click(function(){
			$("#seguimientoCita").show();
			$("#cambiarEstado").hide();
			$("#RegistrarCitaRegis").hide();
			$("#modMecanico").hide();
			$("#homePrin").hide();
			$("#asigCita").hide();
			$("#modAuto").hide();
			$("#modAsesor").hide();
			$("#ContPrin").hide();
			$("#addAuto").hide();
		});

		$("#listseguimientoCita").click(function(){
			$("#seguimientoCita").show();
			$("#cambiarEstado").hide();
			$("#RegistrarCitaRegis").hide();
			$("#modMecanico").hide();
			$("#asigCita").hide();
			$("#homePrin").hide();
			$("#modAuto").hide();
			$("#modAsesor").hide();
			$("#ContPrin").hide();
			$("#addAuto").hide();
		});

		$("#homebut").click(function(){
			$("#seguimientoCita").hide();
			$("#cambiarEstado").hide();
			$("#RegistrarCitaRegis").hide();
			$("#modMecanico").hide();
			$("#homePrin").show();
			$("#modAuto").hide();
			$("#asigCita").hide();
			$("#modAsesor").hide();
			$("#ContPrin").hide();
			$("#addAuto").hide();
		});
		$("#listmodMecanico").click(function(){
			$("#seguimientoCita").hide();
			$("#cambiarEstado").hide();
			$("#RegistrarCitaRegis").hide();
			$("#homePrin").hide();
			$("#modMecanico").show();
			$("#modAuto").hide();
			$("#modAsesor").hide();
			$("#ContPrin").hide();
			$("#addAuto").hide();
			$("#asigCita").hide();
		});

		$("#buttonGestionarMecanicos").click(function(){
			$("#seguimientoCita").hide();
			$("#cambiarEstado").hide();
			$("#RegistrarCitaRegis").hide();
			$("#homePrin").hide();
			$("#modMecanico").show();
			$("#asigCita").hide();
			$("#modAuto").hide();
			$("#modAsesor").hide();
			$("#ContPrin").hide();
			$("#addAuto").hide();

		});

		$("#buttonGestionarAsesores").click(function(){
			$("#seguimientoCita").hide();
			$("#cambiarEstado").hide();
			$("#RegistrarCitaRegis").hide();
			$("#homePrin").hide();
			$("#modMecanico").hide();
			$("#asigCita").hide();
			$("#modAuto").hide();
			$("#modAsesor").show();
			$("#ContPrin").hide();
$("#addAuto").hide();
		});

	$("#listmodAsesor").click(function(){
			$("#seguimientoCita").hide();
			$("#cambiarEstado").hide();
			$("#RegistrarCitaRegis").hide();
			$("#homePrin").hide();
			$("#modMecanico").hide();
			$("#modAuto").hide();
			$("#asigCita").hide();
			$("#modAsesor").show();
			$("#ContPrin").hide();
			$("#addAuto").hide();
		});

	$("#buttonGestionarVehiculos").click(function(){
			$("#seguimientoCita").hide();
			$("#cambiarEstado").hide();
			$("#RegistrarCitaRegis").hide();
			$("#homePrin").hide();
			$("#modMecanico").hide();
			$("#asigCita").hide();
			$("#modAuto").show();
			$("#modAsesor").hide();
			$("#ContPrin").hide();
			$("#addAuto").hide();
		});

	$("#listmodAuto").click(function(){
			$("#seguimientoCita").hide();
			$("#cambiarEstado").hide();
			$("#RegistrarCitaRegis").hide();
			$("#homePrin").hide();
			$("#asigCita").hide();
			$("#modMecanico").hide();
			$("#modAuto").show();
			$("#modAsesor").hide();
			$("#ContPrin").hide();
			$("#addAuto").hide();
		});
	$("#ContactBut").click(function(){
			$("#seguimientoCita").hide();
			$("#cambiarEstado").hide();
			$("#RegistrarCitaRegis").hide();
			$("#homePrin").hide();
			$("#asigCita").hide();
			$("#modMecanico").hide();
			$("#modAuto").hide();
			$("#modAsesor").hide();
			$("#addAuto").hide();
			$("#ContPrin").show();
		});


    $("#btnseguimientoCita").click(function() {
		
  		$.ajax({
			
	     		url: "/checkCliente",
	      		type: "POST",
	      		data: {emailCliente: $("#usrSeguimiento").val(), passwordCliente: $("#pswSeguimiento").val()},
	      		success: function(data){                
  				if (data == "true"){
  					var url = "/seguimientoCita?emailCliente=" + $("#usrSeguimiento").val()
  					window.location.href=url
				}
				else{
					alert("Ese automovil no ha sido ingresado")				
				}
			}
  		});
	});

    $("#btncambiarEstado").click(function() {
		
  		$.ajax({
			
	     		url: "/checkAsesor",
	      		type: "POST",
	      		data: {idAsesor: $("#idAsesorEstado").val()},
	      		success: function(data){                
  				if (data == "true"){
  					var url = "/cambiarEstado?asesorId=" + $("#idAsesorEstado").val()
  					window.location.href=url
				}
				else{
					alert("Ese automovil no ha sido ingresado")				
				}
			}
  		});
	});


    $("#btnmodAuto").click(function() {
		
  		$.ajax({
			
	     		url: "/checkAuto",
	      		type: "POST",
	      		data: {placaVeh: $("#placamodAuto").val(),emailCliente: $("#usrmodAuto").val(),passwordCliente: $("#pswmodAuto").val()},
	      		success: function(data){                
  				if (data == "true"){
  					var url = "/modAuto?placaVeh=" + $("#placamodAuto").val()+"&emailCliente="+ $("#usrmodAuto").val()
  					window.location.href=url
				}
				else{
					alert("Ese automovil no ha sido ingresado o no esta registrado a su cuenta")				
				}
			}
  		});
	});
	

    $("#btnCitaRegis").click(function() {
		
  		$.ajax({
			
	     		url: "/checkCliente",
	      		type: "POST",
	      		data: {emailCliente: $("#usrCita").val(),passwordCliente: $("#pswCita").val()},
	      		success: function(data){                
  				if (data == "true"){
  					var url = "/newCitaRegis?emailCliente=" + $("#usrCita").val()
  					window.location.href=url
				}
				else{
					alert("No se encuentra Registrado")				
				}
			}
  		});
	});

    $("#btnaddAuto").click(function(){
  		$.ajax({
			
	     		url: "/checkCliente",
	      		type: "POST",
	      		data: {emailCliente: $("#usraddAuto").val(),passwordCliente: $("#pswaddAuto").val()},
	      		success: function(data){                
  				if (data == "true"){
  					var url = "/newVehiculo?emailCliente=" + $("#usraddAuto").val()
  					window.location.href=url
				}
				else{
					alert("No se encuentra registrado")				
				}
			}
  		});  
    });

	$("#btnmodAsesor").click(function() {
  		$.ajax({
			
	     		url: "/checkAsesor",
	      		type: "POST",
	      		data: {idAsesor: $("#idAsesorModificar").val()},
	      		success: function(data){                
  				if (data == "true"){
  					var url = "/modificarAsesor?idAsesor=" + $("#idAsesorModificar").val()
  					window.location.href=url
				}
				else{
					alert("Ese automovil no ha sido ingresado")				
				}
			}
  		});
	});

		$("#btnasigCita").click(function() {
  		$.ajax({
			
	     		url: "/checkAsesor",
	      		type: "POST",
	      		data: {idAsesor: $("#idAsesorAsig").val()},
	      		success: function(data){                
  				if (data == "true"){
  					var url = "/asigAsesor?idAsesor=" + $("#idAsesorAsig").val()
  					window.location.href=url
				}
				else{
					alert("Ese automovil no ha sido ingresado")				
				}
			}
  		});
	});

	$("#btnmodMecanico").click(function() {
  		$.ajax({
			
	     		url: "/checkMecanico",
	      		type: "POST",
	      		data: {asesorId: $("#idMecanicoModificar").val()},
	      		success: function(data){                
  				if (data == "true"){
  					var url = "/modificarMecanico?idMeca=" + $("#idMecanicoModificar").val()
  					window.location.href=url
				}
				else{
					alert("Ese automovil no ha sido ingresado")				
				}
			}
  		});
	});
	</script>
	</body>

</html>

