<!doctype html>
<html>
<title>Home</title>
<head>
		<%= javascript_include_tag :defaults %>
				<link href="assets/stylesheets/AutoHome.css" rel="stylesheet" type="text/css"/>
		<title>Home</title>
		<meta charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
   		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Isabella's Shop</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" id="homebut">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cliente
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/agregarCliente" id="">Registrarse</a></li>
            <li><a href="#" id="listaddAuto">Agregar Vehiculo</a></li>
            <li><a href="#" id="listmodAuto">Modificar Vehiculo</a></li>
            <li><a href="#" id="listseguimientoCita">Seguimiento Cita</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Programar Cita
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#" id="listCitaRegis">Cliente Registrado</a></li>
            <li><a href="/newCitaCliente" id="nuevaCitaCliente">Nuevo Cliente</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrar Asesor
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/agregarAsesor" id="">Agregar Asesor</a></li>
            <li><a href="#" id="listmodAsesor">Modificar Asesor</a></li>
            <li><a href="#" id="listasigCita">Asignar Cita</a></li>
            <li><a href="#" id="listcambiarEstado">Cambiar Estado Cita</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrar Mecanico
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/agregarMecanico" id="">Agregar Mecanico</a></li>
            <li><a href="#" id="listmodMecanico">Modificar Mecanico</a></li>
          </ul>
        </li>
        <li><a href="#" id="ConctacBut">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>
		<div id="AsesorIngresando" class="form-group">
		<h2 align="center">Agregando Asesor</h2>
			Nombre del Asesor: <input class="form-control" id= "nameAse" type="text" value="<%= (@selectAsesor.NombreAsesor)%> "></input>
		</br>
			Apellido del Asesor: <input class="form-control" id= "apeAse" type= "text" value="<%= (@selectAsesor.ApellidoAsesor)%> "></input>
		</br>
			Numero de Telefono:	<input class="form-control" id= "telAse" type= "text" value="<%= (@selectAsesor.NumeroTelefono)%> "></input>
		</br>
			<button align="center" id="createAsesor" type="button" class="btn btn-lg btn"  >
					<span>Actualizar Asesor</span>
			</button>
		</div>
	</div>
	<div id="ContPrin">
		<h1 align="Center" style="color: #fff;">Contact</h1>
		<p align="Center" style="color: #fff;">Hola aqui Se pondra nuestros Numeros Para todas las chicas guapas y sexis que nos quierean para haci poder tener mil novias</p>
	</div>
	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/
	jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files
	as needed -->
	<script src="assets/javascripts/bootstrap.min.js"></script>
	<script>
	$("#AsesorIngresando").show();
	$("#ContPrin").hide();
	$("#homebut").click(function(){
			var url = "/homepage"
  			window.location.href=url
			
		});
	$("#ContactBut").click(function(){			
			$("#homePrin").hide();
			$("#ContPrin").show();
		});
	$("#createAsesor").click(function(){
  		$.ajax({
	     		url: "/actuaAsesor",
	      		type: "POST",
	      		data: {nombreAse: $("#nameAse").val(), telefonoAse: $("#telAse").val(), apellidoAse: $("#apeAse").val(),
	      		 idAse: $("#idAse").val()},
	      		success: function(data){                
  				if (data != "Error"){
  					alert(data);
  					var url = "/homepage"
  					window.location.href=url
				}
				else{
					alert("ASD")				
				}
			}
  		});

	});</script>


	</body>


</html>