<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por preferir nuestros servicios, <%= @Cliente.NombreCliente %></h1>
    <p>
      Su cita fue registrada exitosamente y puede llevar el segimiento de la misma en nuestra pagina web.
      Su ID de cita es <%= @Cita.id %> , guardelo para poder accesar a su seguimiento..<br>
    </p>
    <p>
    </p>
    <p>Solo estoy para hacer espacio</p>
  </body>
</html>
