#Menu{
	float:right;
	padding-top: 50px;
 	
}

#nav{
	height: 100px;

}
#logo{
	
	
	padding-left: 80px;
	display: inline-block;
	
}


body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  padding: 20px 50px 150px;
  font-size: 23px;
  background: url(backgroundhome.jpg) ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}


text_field{
  width: 4em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block
}


.form-group{

  background: #A7B3A1;
	padding: 10px 10px;
	max-width: 800px;
  max-height: 550px;
	text-align: center;
	position: fixed;
	top: 130px;

    border-radius: 25px;
    border: 2px solid #CCCCCC;
    padding: 20px; 


  left: 20%; 
 

  width:50%;
  margin:0 auto;
}

#pp{
  background: #A7B3A1;
  padding: 10px 10px;
  max-width: 800px;
  max-height: 550px;
  text-align: center;
  position: fixed;
  top: 130px;

    border-radius: 25px;
    border: 2px solid #CCCCCC;
    padding: 20px; 


  left: 20%; 
 
  overflow: scroll;
  width:50%;
  margin:0 auto;
}

#ss{
  background: #A7B3A1;
  padding: 10px 10px;
  max-width: 800px;
  max-height: 550px;
  text-align: center;
  position: fixed;
  top: 130px;

    border-radius: 25px;
    border: 2px solid #CCCCCC;
    padding: 20px; 


  left: 20%; 
 
  overflow: scroll;
  width:50%;
  margin:0 auto;
}
#homePrin{
 background: #A7B3A1;
  position: fixed;
  top: 23%;
  left: 10%;
  right: 10%;
  height: 500px;
  text-align: center;

      border-radius: 25px;
    border: 2px solid #CCCCCC;
    padding: 20px; 
}
#ContPrin{
 background: #A7B3A1;
  position: fixed;
  top: 23%;
  left: 10%;
  right: 10%;
  height: 500px;

      border-radius: 25px;
    border: 2px solid #CCCCCC;
    padding: 20px; 
  
}

table.imagetable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.imagetable th {
	background:#b5cfd2 url('cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td {
	background:#dcddc0 url('cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
