#Menu{
	float:right;
	padding-top: 50px;
 	
}

#nav{
	height: 100px;

}
#logo{
	
	
	padding-left: 80px;
	display: inline-block;
	
}


body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  padding: 20px 50px 150px;
  font-size: 23px;
  background: url(backgroundhome.jpg) ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}


text_field{
  width: 4em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block
}


.form-group{

	background: #70756A;
	padding: 10px 10px;
	max-width: 800px;
  max-height: 550px;
	text-align: center;
	position: fixed;
	top: 150px;
  	left: 30%; 
  	right: 30%;
      overflow: scroll;
}
#homePrin{
  background: #70756A;
  position: fixed;
  top: 23%;
  left: 10%;
  right: 10%;
  height: 500px;
  text-align: center;
}
#ContPrin{
  background: #70756A;
  position: fixed;
  top: 23%;
  left: 10%;
  right: 10%;
  height: 500px;
  
}

table.imagetable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.imagetable th {
	background:#b5cfd2 url('cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td {
	background:#dcddc0 url('cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
