<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @numeros_telefono.Numero %>
</p>

<%= link_to 'Edit', edit_numeros_telefono_path(@numeros_telefono) %> |
<%= link_to 'Back', numeros_telefonos_path %>
